<div class="friend-request-item">
  <%= link_to received_friend_request.sender.name, user_path(received_friend_request.sender) %>
  <%= link_to received_friend_request.post.title, post_path(received_friend_request.post) %>
</div>
