<div class="card shadow-sm mb-4 post-card">
    <div class="card-body">
      <div class="small text-muted mb-2"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></div>
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= simple_format(post.content) %></p>
    </div>
    <a href="<%= post_path(post) %>" class="stretched-link"></a>
</div>
