<div class="row justify-content-center py-4">
  <div class="col-md-8">
    <div class="d-flex justify-content-between mb-3">
      <h2>投稿一覧</h2>
    </div>
    <%= render @posts %>
    <%= will_paginate @posts, class: 'justify-content-center', previous_label: '前の20件', next_label: '次の20件', page_links: false %>
  </div>
</div>
<div class="fixed-bottom mb-4 me-4" style="text-align: right;">
  <%= link_to new_post_path, class: "btn btn-primary rounded-circle p-3 shadow-lg", style: "width: 65px; height: 65px;" do %>
    <i class="bi bi-plus-lg fs-4"></i>
  <% end %>
</div>
