.navbar {
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.navbar-brand {
  font-family: 'Hiragino Maru Gothic Pro', cursive;
  font-size: 1.5rem;
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
  font-family: 'Hiragino Maru Gothic Pro', cursive;
  
  &:hover {
    color: #000 !important;
  }
}

.btn-new-post {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #FFFFFF;

  &:hover {
    background-color: #E6DED5;
    border-color: #E6DED5;
  }
}

.dropdown-menu {
  background-color: #FFFFFF;

  .dropdown-item:hover {
    background-color: #E6DED5;
  }
}

body {
  background-color: #E6DED5; // ここで希望の色に変更
}
