// @import "bootstrap-sprockets";

.navbar {
  background-color: #cbe2b9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.navbar-brand {
  font-family: 'Comic Sans MS', cursive;
  font-size: 1.5rem;
  color: #9af381 !important;
}

.nav-link {
  color: #8B4513 !important;
  font-weight: bold;

  &:hover {
    color: #3cef99 !important;
  }
}

.btn-new-post {
  background-color: #98e4a3;
  border-color: #0fd680;
  color: white;

  &:hover {
    background-color: #55c023;
    border-color: #2fdf35;
  }
}

.dropdown-menu {
  background-color: #FFF0F5;

  .dropdown-item:hover {
    background-color: #24b335;
  }
}
